
:root {
  --white: #fff;
  --pink: #ff79cd;
  --purple: #93329e;
  --orange: #ffb037;
  --gradient: linear-gradient(90deg, var(--pink), var(--orange));
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background-color: var(--orange);
  color: var(--white);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding: 3rem 9%;
}

.btn{
  display: inline-block;
  padding: .7rem 3rem;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--gradient);
  color: var(--white);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  transform: scale(1.1);
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--purple);
  z-index: 1000;
  padding: 2rem 9%;
  border-bottom: .1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--white);
  margin-left: 2.5rem;
}

.navbar a:hover{
  color: var(--orange);
}

.logo {
  font-weight: bolder;
  color:var(--white);
  font-size: 2.5rem;
}

#menu-bar {
  color:var(--white);
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  text-align: center;
}

.content {
  padding-top: 5rem;
  max-width: 70rem;
  margin: 0 auto;
}

.content h3{
  font-size: 6.5rem;
  color: #141414c9;
}

.content p{
  font-size: 1.7rem;
  color: #141414c9;
  padding: 1rem 0;
}

.swiper-container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.swiper-slide {
  width: 30rem;
  height: 50rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
























/* media queries  */

@media (max-width:991px){
  html{
    font-size: 55%;
  }
  header{
    padding: 2rem 4%;
  }
}

@media (max-width:768px){
  #menu-bar{
    display: block;
  }

  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--purple);
    border-top: .1rem solid #fff3;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }


  .navbar.nav-toggle{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a{
    display: block;
    margin: 1.5rem 0;
    padding: 1rem;
    background: var(--gradient);
    text-align: center;
    border-radius: .5rem;
  }

  .navbar a:hover {
    background: var(--orange);
    color:#fff;
  }

  .fa-times{
    transform: rotate(180deg);
  }

  .content h3{
    font-size: 4rem;
  }

  .content p{
    font-size: 1.5rem;
  }

}

@media (max-width:400px){
  html{
    font-size: 50%;
  }
}

